@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500&display=swap');


html, body, figure, div, input, textarea, p, h1, h2, h3, h4, h5, h6, ul, button{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
}

:root{
    --color-branco:#f5f5f5;
    --color-preto:#222222;
    --color-roxo:#626CC3;
    --small-font:1rem;
    --medium-font:2rem;
    --font-title:'Space Grotesk', sans-serif;
}


body{
    background-color: white;
}


header {
    display: flex;
    align-items: center;
}
header figure {
    width: 25%;
    margin-right: 100px;
}
header img {
    width: 100%;
    
}
.hidden {
    display: none;
}


.information {
    font-family: var(--font-title);
    text-align: start;
    padding: 40px 40px;
    color: white;
}
.information span {

    text-transform: uppercase;
}
.information ul {
    margin-top: 20px;
    display: flex;
}
.information ul li{
    margin-left: 10px;
}
main {
    display: flex;
}
main .information{
    width: 25%;
    background-color: var(--color-preto);
}

.presentation h2{
    color: var(--color-preto);
}
h2 {
    color: var(--color-branco);
    font-family: Space Grotesk;
}

h1 {
    color: var(--color-roxo);
}

.content{
    width: 100%;
    padding: 100px;
    background-color: var(--color-roxo);
    color: white;
}
.content section {
    border-bottom: 3px solid white;
}
.skills ul {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.skills ul li {
    margin-left: 20px;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
}
